// Navigation style here
.t-theme-navigation {
  max-height: 80px;
  background: $white;
  position: sticky;
  top: 0;
  z-index: 9999;
  box-shadow: 0px 4px 4px rgba($black, 0.25), 0px 1px 3px 1px rgba($black, 0.15);

  @include mobile {
    height: 51px;
  }

  @include tablet {
    height: 51px;
  }

  .nav-row {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
  }

  // Action-nav
  .action-nav {
    @include mobile {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    @include tablet {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }

  .navbar-nav {
    gap: 16px;
    margin-left: 30px;

    @include mobile {
      margin-left: 0;
    }
    @include tablet {
      margin-left: 0;
    }
  }

  .navbar-collapse {
    @include mobile {
      background: $white;
      position: absolute;
      width: 100%;
      top: 51px;
      left: -100%;
      height: calc(100vh - 51px);
      transition: all 0.3s ease-in-out;
    }

    @include tablet {
      background: $white;
      position: absolute;
      width: 100%;
      top: 51px;
      left: -100%;
      height: calc(100vh - 51px);
      transition: all 0.3s ease-in-out;
    }

    &.show {
      @include mobile {
        left: 0;
      }
      @include tablet {
        left: 0;
      }
    }

    &:not(.show) {
      display: block;
    }
  }

  // Nav Icon Style
  .icon-box {
    margin: 0 auto 8px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;

    @include mobile {
      margin: 0 auto;
    }

    @include tablet {
      margin: 0 auto;
    }

    img {
      width: 100%;

      @include mobile {
        width: 20px;
      }
      @include tablet {
        width: 20px;
      }
    }
  }

  .nav-item {
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 80px;

    @include mobile {
      align-items: flex-start;
      height: auto;
      padding: 10px 15px;
    }

    @include tablet {
      align-items: flex-start;
      height: auto;
      padding: 10px 15px;
    }
  }

  .nav-link {
    font-size: 14px;
    line-height: 140%;
    padding: 0;

    @include mobile {
      display: flex;
      align-items: center;
      font-size: 17px;
    }

    @include tablet {
      display: flex;
      align-items: center;
      font-size: 17px;
    }
  }
  .active {
    background: $theme-primary;

    .nav-link {
      color: $white;
    }

    img {
      filter: contrast(0) brightness(100);
    }
  }

  // right-section
  .right-section {
    display: flex;
    gap: 16px;

    @include mobile {
      gap: 10px;
      align-items: center;
    }

    @include tablet {
      gap: 16px;
      align-items: center;
    }

    .right-item {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mobile {
        width: 22px;
        height: 22px;

        img {
          width: 100%;
        }
      }
      @include tablet {
        width: 22px;
        height: 22px;

        img {
          width: 100%;
        }
      }
    }
  }

  // Profile dropdown style
  .profile-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    position: relative;

    .profile-btn {
      border-radius: 50%;
      height: 32px;
      width: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;
      border: none;

      @include mobile {
        width: 26px;
        height: 26px;
      }

      @include tablet {
        width: 26px;
        height: 26px;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .active-t-badge {
      background: $theme-success;
      width: 12px;
      height: 12px;
      right: 3px;
      border: 1px solid $white;
      border-radius: 50%;
      position: absolute;
      bottom: 4px;
    }
  }

  // Notification style
  .notification {
    position: relative;

    .notify-t-badge {
      background: $theme-error;
      width: 16px;
      height: 16px;
      right: -3px;
      border: 1px solid $white;
      border-radius: 50%;
      position: absolute;
      top: -2px;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
    }
  }

  // navbar-toggler
  .navbar-toggler {
    border: none;
    padding: 0;

    &:focus {
      box-shadow: none;
    }

    .navbar-toggler-icon {
      width: 1.2em;
      height: 1.2em;
    }
  }

  .navbar-brand {
    @include mobile {
      display: none;
    }

    @include tablet {
      display: none;
    }

    img {
      @include mobile {
        width: 40px;
      }
    }
  }

  // question-icon
  .question-icon {
    @include mobile {
      display: none !important;
    }
  }
}
