// Manager Section
.t-manager-section {
  display: flex;

  .flex-layout {
    display: flex;
    padding: 5px;
    gap: 10px;
  }

  .task-section {
    width: 100%;
  }

  .t-breadcrumb-sec {
    padding: 24px 24px 0;
  }

  .timeline-layout {
    padding: 8px;
    background: #efefef;
    border-radius: 4px;
    width: 167px;
    min-height: calc(100vh - 170px);

    .active-line {
      position: relative;

      &::after {
        position: absolute;
        top: 80px;
        left: 20px;
        width: 100%;
        height: 100%;
        z-index: 99;
        content: "";
        background: url("../assets/icons/box-arrow-left.svg");
        background-repeat: no-repeat;
        background-position: right;
      }
    }
  }

  .timeline-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .timeline-block {
      padding-bottom: 116px;
      position: relative;
      display: flex;
      flex-direction: column;

      &::after {
        content: "";
        width: 2px;
        background: #ccd1d9;
        margin: 0 auto;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
      }
    }

    .complete-line {
      &::after {
        background: #4bb218;
      }
    }

    .progress-line {
      &::after {
        background: $theme-primary;
      }

      .progress-bar {
        .progress-circle {
          background: $theme-primary;
          min-width: 32px;
          min-height: 32px;
          max-width: 32px;
          max-height: 32px;
          border-radius: 100%;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          z-index: 999;
        }

        &::before {
          content: "";
          width: 4px;
          height: 40px;
          background: $theme-primary;
          margin: 0 auto;
          z-index: 999;
          border-radius: 10px;
        }

        .fill-style {
          background: #ecf3fe;
          width: 22px;
          height: 22px;
          border-radius: 100%;
          position: relative;

          &::before {
            content: "";
            width: 17px;
            height: 17px;
            left: 0;
            right: 0;
            top: 2.4px;
            bottom: 0;
            background: #ecf3fe;
            border: 2px solid $theme-primary;
            margin: 0 auto;
            border-radius: 10px;
            position: absolute;
          }
        }
      }
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 2px;
      height: 100%;
      background: #ccd1d9;
      z-index: 1;
    }

    .custom-badge {
      background: #c4d9fc;
      border-radius: 12px;
      color: $theme-primary;
      padding: 2px 16px;
      margin-top: 8px;
      font-weight: 600;
      font-size: 10px;
    }

    .marker {
      width: 100%;
      border-radius: 12px;
      background: #b5b5b7;
      z-index: 1;
      padding: 10px 12px;
      text-align: center;
      position: relative;
      font-size: 13px;
      line-height: 140%;
      display: flex;
      flex-direction: column;
      color: $white;
      z-index: 999;

      &.complete {
        background: #4bb218;
        left: 0px;
      }

      &.in-progress {
        background: $theme-primary;
        left: 0px;
      }

      img {
        margin-left: 10px;
      }
    }

    .timeline-content {
      width: 95%;
      padding: 0 15px;
      color: #666;
    }
  }

  // w-full
  .w-full {
    // width: 100vw;
  }

  .accordion-button:not(.collapsed)::after {
    display: none;
  }

  .accordion-header {
    display: flex;
    align-items: center;
  }

  .accordion-button {
    padding: 0;
    background: none;
  }

  // dragable-card
  .dragable-card {
    padding-bottom: 150px;

    .form-control {
      background: none;
      border: none;
    }

    .flex-style {
      display: flex;
    }

    .table {
      margin: 0;
    }
    .assign-to-sec {
      width: 176px;
    }
    .date-sec {
      width: 176px;
    }

    .action-sec {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-grow: 1;
      padding: 0 15px;

      button {
        opacity: 0.7;
      }
    }

    .upload-sec {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
    }

    .btn-badge-style {
      border: none;
      background: none;
    }

    .tag-sec {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 10px;
      max-width: 100px;

      .dropdown-menu {
        padding: 10px;
        gap: 20px 0;
        min-width: auto;

        li {
          margin: 10px 0;
        }
      }

      .badge-style {
        border-radius: 100px;
        padding: 5px 10px;
        background: #cdcdce;
        font-weight: 600;
        font-size: 12px;
        width: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &.medium {
          background: #f6ceb1;
          color: #e36004;
        }

        &.low {
          background: #c9edb8;
          color: #4bb218;
        }

        &.high {
          background: #fcbabe;
          color: #f5222d;
        }
      }
    }

    .task-sec {
      width: 540px;
    }

    .drag-section {
      width: 70px;
      display: flex;
      align-items: center;
    }

    .drag-header {
      width: 70px;
    }

    .card {
      margin-top: 18px;
    }

    .file-sec {
      width: 70px;
      text-align: center;
      padding-left: 15px;

      .gray {
        filter: grayscale(100);
      }
    }

    .accordion-body {
      padding: 0;
    }

    .textarea-section {
      width: 52vw;
    }

    .border-l {
      border-left: 1px solid #efefef;
    }
    .border-r {
      border-right: 1px solid #efefef;
    }

    .btn-upload {
      border: 1px solid rgba($theme-primary, 0.5);
      color: rgba($theme-primary, 0.5);
      height: 32px;
      border-radius: 4px;
      padding: 0 15px;
      background: none;
      font-size: 14px;
    }

    .accordion-item {
      margin-bottom: 12px;
    }

    .image-box-sec {
      display: flex;
      align-items: center;
      gap: 16px;

      .img-box {
        width: 72px;
        height: 72px;
        border: none;
        background: #e8fafd;
        border-radius: 4px;
        font-weight: 500;
        font-size: 24px;
        color: #5e5e62;
      }

      img {
        width: 100%;
      }
    }
  }
}
