// ######################################## //
// ## COLORS.SCSS ## //
// ######################################## //

// Black (Gray) Color Shades
$black: #000000;
$gray-1: #111111;
$gray-2: #222222;
$gray-3: #333333;
$gray-4: #444444;
$gray-5: #555555;
$gray-6: #666666;
$gray-7: #777777;
$gray-8: #888888;
$gray-9: #999999;
$gray-a: #aaaaaa;
$gray-b: #bbbbbb;
$gray-c: #cccccc;
$gray-d: #dddddd;
$gray-e: #eeeeee;
$white: #ffffff;
$gray-f9: #f9f9f9;
$text-color: #1e2c4f;
$link-color: #02edfe;
// Color Shades (Theme Based - Xclusive)
$theme-primary: #0b57d0;
$theme-secondary: #3b466c;
$theme-success: #3d9241;
$theme-error: #f5222d;
$link-color: #3c79de;
$theme-warning: #ef6c00;
